*{
	margin: 0;
	padding: 0;}
body{
	font-size: 18px;
	color:#333333;
	font-family: 'Roboto Condensed', sans-serif;}
section{
	padding:80px 0;}

h2{
	font-size:2em;
	color:#003399;
	font-weight:700;
	text-transform: uppercase;
	margin:0 0 50px 0;}

/*HEADER*/
header{
	position: relative;}
#carousel img{
	width: 100%;}
.header-content{
	position: absolute;
	top: 0;
	left: 13%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	width:75%;} 
.my-menu{	
	margin-top: 30px;
	width:100%;}
.slogan{
	margin:auto 0;
	text-align:left;}
.navbar-brand img{
	position: absolute;
	top: 2%;
	left:0;
	height: 64px;
	width: 64px;}
.navbar-toggle .icon-bar{
    background-color: #ffffff;}
.navbar-collapse a{
	color: #fff;
	/*text-shadow: 3px 3px 10px #fff, -3px -3px 10px #fff;*/
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 0.8em;
	text-transform: uppercase;}
.nav > li > a {
    padding: 12px 8px;}

.navbar-collapse li a:hover{
	/*color: #ffffff;*/
	background-color: #6699cc;}
h1{
	font-family: 'Roboto', sans-serif;
	color: #003399;
	font-weight: 700;
	font-size: 3em;}
h1 span{
	color: #ff9900;}
h1+p{
	font-size: 1.2em;
	line-height:1.8em;
	margin:1% 0;}
.slogan a{
	display: inline-block;
	font-size: 1.2em;
	font-weight: 700;
	padding: 2% 12%;
	margin-top: 5%;
	text-decoration: none;
    border:4px solid #ff9900;
    border-radius: 4px;
	background-color: #ff9900;
    color: #ffffff;
    transition: all 1s;}
 .slogan a:hover{
 	color:#ff9900;
 	background-color: #ffffff;}

/*team*/
#about_us img{
	width: 100%;}

/*how_works*/
#how_works{
	background: #6699cc;
	background: -moz-linear-gradient(top, #6699cc 0%, #ffffff 100%);
	background: -webkit-linear-gradient(top, #6699cc 0%,#ffffff 100%);
	background: linear-gradient(to bottom, #6699cc 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6699cc', endColorstr='#ffffff',GradientType=0 );}
.work{
	position: relative;
	margin-bottom: 5px;}
.work p{
	padding: 10px;}
.fa-comments, .fa-phone, .fa-calendar-alt, .fa-credit-card, .fa-car, .fa-smile{
	font-size: 2.8em;
	color:#003399;
	margin: 0 40px 10px 30px;}
.fa-arrow-right{
	position: absolute;
	top: 20px;
	right:7%;}

/*services*/
#services .col-sm-6, #services .col-md-4{
	padding: 0;}
.serv_item{
	position: relative;
	margin-bottom: 30px;}
.serv_item img{
	width: 100%;}
.description{
	padding: 15px;
	position:absolute;
	font-size: 1.1em;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(218,231,249,0.7);
	opacity:0;
	transition: all 2s;}
.servss:hover .description{
	opacity:1;}
.description button{
	border:none;
	background-color: transparent;}
:focus {
    outline: none;}
.fa-ellipsis-h{
	font-size: 2.3em;
	color: #333333;
	display: block;
	margin-top: -12px;
	cursor: pointer;}
.fa-ellipsis-h:hover{
	color: #003399;}	
.service{
	background-color: #003399;
	font-size: 16px;
	color: #ffffff;
	width: 48%;
	padding:4px 8px;
	position: absolute;
	bottom: 12px;
	left: 12px;
	z-index: 10;}
.price{
	background-color: #003399;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	padding:4px 8px;
	position: absolute;
	bottom: 12px;
	right: 12px;
	z-index: 10;}

/*why_we*/
#why_we{
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #6699cc 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#6699cc 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#6699cc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#6699cc',GradientType=0 );}
.fa-users, .fa-rocket, .fa-check-square, .fa-heartbeat, .fa-camera-retro, .fa-gift{
	font-size: 2.8em;
	color:#003399;
	margin-bottom: 20px;}

/*форма заказать полёт*/
form .order_fly{
	padding: 25px 35px;
	border:4px solid #6699cc;
	font-size: 1.2em;}
form .order_fly p{
	text-align:center;
	padding:0 10px 20px;
	margin: 0 auto;}
input::placeholder{
	color: #ccc;
	font-size: 0.9em;}
form .order_fly .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 2px 15px;
    margin-bottom: 12px;
    font-size: 1.2em;
    line-height: 1.42857143;
	color:#333333;
    border:2px solid #6699cc;
    border-radius: 0;}
form .order_fly button{
	display: block;
	font-size: 1.2em;
	font-weight: 700;
	padding: 2% 20%;
	margin: 0 auto;
    border:4px solid #ff9900;
    border-radius: 4px;
	background-color: #ff9900;
    color: #ffffff;
    transition: all 1s;}
form .order_fly button:hover{
	color:#ff9900;
 	background-color: #ffffff;}

/*feedback*/
#feedback{
	background: #6699cc;
	background: -moz-linear-gradient(top, #6699cc 1%, #ffffff 50%, #6699cc 100%);
	background: -webkit-linear-gradient(top, #6699cc 1%,#ffffff 50%,#6699cc 100%);
	background: linear-gradient(to bottom, #6699cc 1%,#ffffff 50%,#6699cc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6699cc', endColorstr='#6699cc',GradientType=0 );}

/*carousel-slick*/
.slide{
	display: block;
	position: relative;
	width: 100%;
	padding: 0 15px;}
.slide img{
	margin-bottom: 20px;}
.slide h4{
	font-weight: 700;
	font-size: 1.2em;
	margin: 0;}
.slide span{
	display: block;
	font-size: 0.8em;
	font-style: italic;
	margin-top: -3px;}
.slick-prev:before, .slick-next:before{
	color: #6699cc;
    font-size: 30px;
	opacity: 0.5;}
.slick-next {
    right: -15px;}

#feedback form{
	margin-top: 50px;
	padding: 20px 20px 10px 20px;
	border:4px solid #6699cc;
	font-size: 1.2em;
	background-color: #fff;}
.feedback-fly input::placeholder{
	color: #ccc;
	font-size: 0.85em;}
.feedback-fly textarea::placeholder{
	color: #ccc;
	font-size: 0.9em;}
.feedback-fly .form-control{
    display: block;
    width: 100%;
    height: 50px;
    padding: 2px 15px;
    margin-bottom: 12px;
    font-size: 1.2em;
    line-height: 1.42857143;
	color:#333333;
    border:2px solid #6699cc;
    border-radius: 0;}
.feedback-fly textarea{
	display: block;
    width: 100%;
    height: 120px;
    padding: 2px 15px;
    margin-bottom: 12px;
    font-size: 1.2em;
    line-height: 1.42857143;
	color:#333333;
    border:2px solid #6699cc;
    border-radius: 0;}
.feedback-fly button{
	display: block;
	font-size: 1.1em;
	font-weight: 700;
	padding: 3% 17%;
	margin: 0 auto;
    border:4px solid #6699cc;
    border-radius: 4px;
	background-color: #6699cc;
    color: #ffffff;
    transition: all 2s;}
.feedback-fly button:hover{
	color:#6699cc;
 	background-color: #ffffff;}

/*contacts*/
h4{
	font-weight: 700;
	font-size:1.4em;
	margin-bottom: 15px;}
h4>span{
	display: inline-block;
	margin-right: 20px;}
.fa-map-marker-alt, .fa-phone-volume, .fa-viber, .fa-skype, .fa-clock{
	font-size: 1em;
	color:#003399;}
#contacts a{
	display: inline-block;
	font-size: 1.2em;
	font-weight: 700;
	padding: 2% 12%;
	margin-top: 3%;
	text-decoration: none;
    border:4px solid #ff9900;
    border-radius: 4px;
	background-color: #ff9900;
    color: #ffffff;
    transition: all 1s;
	margin-bottom: 30px;}
#contacts a:hover{
 	color:#ff9900;
 	background-color: #ffffff;}

/*footer*/
footer{
	padding: 40px 0 10px 0;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #6699cc 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#6699cc 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#6699cc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#6699cc',GradientType=0 );}
.brand img{
	width: 74px;
	height: 74px;
	display: inline-block;
	margin-top:-2%;}
.footer-menu ul li a{
	color: #003399;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 0.9em;
	text-transform: uppercase;}
.nav-foot > li > a {
    padding: 10px 8px;}
.nav-foot li a:hover{
	color: #ffffff;
	background-color: transparent;}
.soc-foot{
	display: flex;
	justify-content: flex-end;}
.socseti-foot ul li{
	list-style: none;}
.socseti-foot ul li a{
	color: #003399;
	font-weight: 700;
	font-size: 1.6em;
	margin-left: 50px;}
.socseti-foot li a:hover{
	color: #ffffff;
	background-color: transparent;}
footer .copyright p{
	color: #003399;
	font-weight: 700;
	font-size: 1em;
	display: block;
	text-align: right;}
footer .copyright p>span{
	color: #ff9900;}
/*UP*/	
.up{
	position: fixed;
	z-index: 999;
	bottom:10px;
	right: 30px;
	padding: 2px 10px;
	border:1px solid #ff9900;
	border-radius: 4px;
	background-color: #ff9900;
	opacity: 0.6;
	cursor: pointer;
	display: none;
	transition: all 1s;}
.up:hover{
	opacity: 1.0;}
.fa-angle-double-up{
	font-size: 2.3em;
	color: #ffffff;}	

/*modal*/
.modal{
	font-size: 1.1em;}
.modal-title{
	font-size: 1.2em;
	color:#003399;
	font-weight: 700;}
.modal-footer button{
	font-size: 1.2em;
	font-weight: 700;
	padding: 10px 40px;}
.modal-footer .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    outline-offset:0;}

@media screen and (max-width:1200px){
	body{
		font-size:15px;}
	.feedback-fly button{
		padding: 2% 15%;}
}
@media screen and (max-width:1070px){
	body{
		font-size:15px;}
	.feedback-fly button{
		padding: 2% 17%;}
	iframe{
		height: 290px;}
}

@media screen and (max-width:995px){
	.feedback-fly button{
		padding: 2% 16%;}
	iframe{
		height: 280px;}
}

@media screen and (max-width:940px){
	body{
		font-size:14px;}
	iframe{
		height: 260px;}
}

@media screen and (max-width:870px){
	h1{
		font-size: 2em;
	}
	h1+p{
		font-size: 1em;
		line-height:1.6em;
		margin:1% 0;}
	.nav > li > a {
    padding: 8px 6px;}
}
@media screen and (max-width:767px){
	#carousel{
		display: none;}
	header{
		background: url(../images/header_face.png) no-repeat center;
		background-size: cover;
		min-height: 100vh;}
	.slogan a{
		display: inline-block;
		font-size: 1em;
		font-weight: 700;
		padding: 2% 12%;}
	h2{
		margin-left: 15px;}
	#services .col-sm-6, #services .col-md-4{
	padding: 0 15px;}
	#services .description{
		font-size: 20px;}
	#services .service, #services .price{
		padding: 5px 10px;}
	#feedback form{
		padding: 20px;}
	footer .nav-foot{
		display: none;}
	.socseti-foot ul li a{
		margin: 0 20px;}
	.soc-foot{
		justify-content: center;}
	footer .copyright p{
		text-align: center;}
}
@media screen and (max-width:450px){
	#services .description{
		font-size: 18px;}
}

@media screen and (max-width:420px){
	body{
	font-size:12px;}
	#services .description{
		padding: 10px;}
	#services .description button{
		font-size: 14px;}
	form .order_fly{
		padding: 15px 15px;}
	#feedback form{
		margin-top: 30px;
		padding: 15px 15px;}
}